body{
    /*background-color: #363636;*/
    background-image: linear-gradient(180deg,#9c2b85,#23133a);
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-bio{
    width: 320px;
    height: 500px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(400px);
    -webkit-backdrop-filter: blur(400px);
    border: 1px solid #e16bdd;
    transition: 1s;
}

.content-foto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}
.sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
}
.img-perfil{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.sobre h3, h4, span, p{
    color: #fff;
}
.sobre h3{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 3px;
    text-align: center;
}
.sobre span{
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-align: center;
} 

.nav-bio{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.nav-bio li{
    background: #461a50;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    padding: 10px 0px;
    transition: 1s;
}
.nav-bio li:hover{
    background: transparent;
    cursor: pointer;
}
.nav-bio li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.fab{
    font-size: 23px;
    margin-right: 10px;
}